.modal-header
  Add User
.row
  .col-2
  .col-9
    = simple_form_for @user,  url: users_path , html:{class: 'form', multipart: true, id: 'create_user_form'}, remote: true, method: :post, authenticity_token: true, data: { type: :json } ,defaults: {input_html: {class: 'form-control input-sm'}}do |f|
      .modal-body
        .row.mb-lg-2
          = f.input :full_name, label: false, placeholder: 'Full Name', class: 'form-control'
        .row.mb-lg-2
          = f.input :email, label: false, placeholder: 'Email', class: 'form-control'
        .row.mb-lg-2
          .col-8.pl-0.pr-0
            .radio-group
              = f.collection_radio_buttons :role, @roles, :first, :last, {checked: @roles[0]}
        .row.mb-lg-2
          = f.input :mobile_number, label: false, placeholder: 'Contact(Optional)', class: 'form-control'
        .row.mb-lg-6
          .col-4
            = f.submit 'ADD USER', class: 'btn btn-warning'
          .col-4
            = f.submit 'CANCEL', class: 'btn btn-secondary', "data-dismiss"=> "modal"
